<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523866059027-1m64pubvimm0igu78ts6i74oi9napmkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523866059027-1m64pubvimm0igu78ts6i74oi9napmkd</string>
	<key>API_KEY</key>
	<string>AIzaSyAeuUxUErHCyrib89TP4v1ULNLx5_R7Lhk</string>
	<key>GCM_SENDER_ID</key>
	<string>523866059027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.audrey-ha.DayLights</string>
	<key>PROJECT_ID</key>
	<string>dayhighlights</string>
	<key>STORAGE_BUCKET</key>
	<string>dayhighlights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523866059027:ios:9d5da0d6f79aa601706ae6</string>
	<key>DATABASE_URL</key>
	<string>https://dayhighlights.firebaseio.com</string>
</dict>
</plist>